{% extends 'base.html' %}

{% block content %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <p class="bs-component">
              <table>
                <tr>
                  <td>{{ form.username.label_tag }}</td>
                  <td>{{ form.username }}</td>
                </tr>
                <tr>
                  <td>{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
                </tr>
              </table>
            </p>
            <p class="bs-component">
              <center>
                {% if next %}
                  {% if user.is_authenticated %}
                    <p><strong><font color=red>Your account doesn't have
                      permission to access this page.</font></strong></p>
                  {% else %}
                    <p><strong><font color=red>Please login to see
                      this page.</font></strong></p>
                  {% endif %}
                {% endif %}
                {% if form.errors %}
                  <p><font color=red>Your username and password didn't
                    match. Please try again.</font></p>
                {% endif %}
                <input class="btn btn-success" type="submit" value="Login" />
              </center>
            </p>
              <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
